.containerCenter {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('../../../public/Background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%
}

.container {
    display: flex;
    flex-direction: row;
    margin: 5rem 0;
    justify-content: center;

    span {
        display: flex;
        text-align: center;
        width: 100%;
        height: 300px;
        cursor: pointer;
        box-shadow: (5px 5px 10px rgba(0, 0, 0, 0.253));
        text-transform: capitalize;
    }
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 2rem;

    span {
        color: var(--Light);
        -webkit-text-stroke: 1px rgb(0, 0, 0);
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 3rem;
    }
}

.personagem {
    margin: 0 2rem;
    opacity: 1;
    transition: all 0.5s;

    span {
        background-image: url('../../../public/Personagem.png');
        background-position: center;
        border-radius: 20px;
        align-items: center;
        font-size: 30px;
        font-weight: bolder;
    }

    :hover {
        transform: scale(0.9);
    }
}

.campanhas {
    margin: 0 2rem;
    opacity: 1;
    transition: all 0.5s;

    span {
        background-image: url('../../../public/Mapa.png');
        background-position: center;
        border-radius: 20px;
        align-items: center;
        font-size: 30px;
        font-weight: bolder;
    }

    :hover {
        transform: scale(0.9);
    }
}

.dados {
    margin: 0 2rem;
    opacity: 1;
    transition: all 0.5s;

    span {
        background-image: url('../../../public/Dados.png');
        background-position: center;
        border-radius: 20px;
        align-items: center;
        font-size: 30px;
        font-weight: bolder;
    }

    :hover {
        transform: scale(0.9);
    }
}

@media screen and (max-width: 860px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .dashboard {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin-bottom: 2rem;

        span {
            width: 100%;
            margin-bottom: 20px;
            height: 100%;
        }
    }
}