.containerCenter {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%
}

.container {
    margin: 2rem auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 25px;

    button {
        margin-left: 1rem;
        border: 0;
        color: var(--Secundary);
        background: transparent;
        cursor: pointer;
        transition: filter 0.7s;

        :hover {
            color: var(--Primary-2);
            animation: animate 4s infinite;
        }
    }
}

@keyframes animate {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

.personagens {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    align-items: center;

    button {
        width: 225px;
        height: 102px;
        cursor: pointer;
        box-shadow: (5px 5px 10px rgba(0, 0, 0, 0.253));

    }

    span {
        text-transform: capitalize;
    }

}

.emptyList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 2rem;
    -webkit-text-stroke: 1px var(--Danger);
    font-size: 25px;
    text-align: center;
}

.listPersonagens {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 2rem;

    span {
        color: var(--Secundary);
        -webkit-text-stroke: 1px rgb(0, 0, 0);
        font-size: 25px;
        text-align: center;
    }
}



.selectPersonagens {
    margin: 0 2rem;
    opacity: 1;
    transition: all 0.7s;


    button {
        border-radius: 30px;
        height: 150px;
        align-items: center;
    }

    :hover {
        opacity: 0.5;
        transform: scale(0.9);
    }
}

.icon {
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 860px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .listCampanhas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin-bottom: 2rem;

    }
}