.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1px 1px;
    grid-auto-flow: row;
    grid-template-areas:
        "Header Header"
        "Avatar Form";
    justify-content: center;
    align-items: center;
}

.Header {
    grid-area: Header;
}

.Avatar {
    grid-area: Avatar;
    display: flex;
    border: 1px solid;
    border-radius: 20px;
    width: 50%;
}

.Form {
    grid-area: Form;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid;

    textarea{
        resize: none;
        height: 120px;
    }
}