.headerContainer {
    height: 7rem;
    background-color: var(--Primary-2);
}

.headerContent {
    max-width: 1250px;
    height: 7rem;
    margin: 0 auto;
    padding: 0 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        cursor: pointer;
        transition: transform 0.8s;
    }

    img:hover {
        transform: scale(1.2);
    }

    h1 {
        font-size: 30px;
        font-weight: bold;
    }

    h1::first-letter {
        text-transform: capitalize;
    }

    span {
        text-transform: capitalize;
    }

}

.menuNav {
    display: flex;
    align-items: center;

    a {
        font-size: 20px;
        color: var(--Dark);
        padding: 0 0.2rem;
        display: inline-block;
        position: relative;
        transition: color 0.8s;

        &+a {
            margin-left: 2rem;
        }

        &:hover {
            color: var(--Primary);
        }
    }

    button {
        margin-left: 2rem;
        background: transparent;
        border: 0;
        transition: transform 0.8s;
        cursor: pointer;

        &:hover {
            color: var(--Primary);
            transform: scale(1.2);
        }
    }
}