.input {
    margin-bottom: 1rem;
    width: 500px;
    height: 50px;
    border: 0;
    border-radius: 0.625rem;
    background-color: var(--Light-1);
    color: var(--dark-1);
    padding: 1rem;
    border: 1px solid var(--Dark-1);
}

.input::placeholder {
    color: rgba (255, 255, 255, 0.8);
}

