*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

:root{
    --Light-2: #F8FAFF;
    --Light: #FFFFFF;
    --Light-1: #EDE8E8;

    --Danger: #9F4A54;
    --Sucess: #598381;

    --primary-1: #3BFFD3;
    --primary: #14ECBC;
    --primary-2: #06C79C;

    --secundary-2: #051826;
    --secundary: #0D324D;
    --secundary-1: #255273;

    --Dark: #000000;
    --dark-1: #595959;
}