/*Tela de Cadastro*/

.cadastro {
    width: 470px;
    height: 100%;
    display: flex;
    background-color: rgba(237, 232, 232, 0.5);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 3.5rem;
    margin: 0px 0px 0px 0px;

    img {
        display: flex;
        width: 150px;
        height: 150px;
        object-fit: cover;
    }

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    p {
        text-align: center;
        margin-bottom: 30px;
    }

    form button {
        width: 370px;
        height: 50px;
        font-size: 1rem;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.inputCadastro {
    margin-bottom: 1rem;
    width: 370px;
    height: 50px;
    border: 0;
    border-radius: 0.625rem;
    background-color: var(--Light-1);
    color: var(--dark-1);
    padding: 1rem;
    border: 1px solid var(--Dark-1);
}

.buttonCadastro {
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: var(--Dark);
    height: 50px;
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 370px;
    border-radius: 10px;
}

.titleCadastro {
    font-style: normal;
    font-size: 30px;
    display: flex;
    align-items: flex-end;
    // margin-top: 10px;
    // margin-bottom: 10px;
}

.subtitleCadastro {
    font-size: 20px;
    line-height: 20px;
    display: flex;
}

.textCadastro {
    // margin-top: 1rem;
    color: blue;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 18px;
}

/*Tela de logar*/
.containerCenter {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    // /* Logo */
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 50px 0px 50px;

    img {
        display: flex;
        width: 300px;
        height: 300px;
        object-fit: cover;
    }

    p {
        text-align: center;
    }
}

.title {
    color: var(--Dark-1);
    font-size: 35px;
    margin-bottom: 5rem;
}

.login {
    width: 500px;
    height: 100%;

    display: flex;
    background-color: rgba(237, 232, 232, 0.7);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 3.5rem;
    margin: 0px 40px 0px 0px;

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    form button {
        height: 50px;
        font-size: 1rem;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    p {
        text-align: center;
        margin-bottom: 30px;
    }
}

.titleLogin {
    font-style: normal;
    font-size: 45px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 1rem;
}

.subtitleLogin {
    font-size: 20px;
    line-height: 20px;
    display: flex;
}

.text {
    margin-top: 1rem;
    color: blue;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 18px;
}

@media (max-width: 1000px) {
    .containerCenter {
        width: 90%;
    }

    .login {
        width: 80%;

        form button {
            width: 200px;
            height: 45px;
            font-size: 1rem;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        form input {
            width: 200px;
        }
    }

    .titleLogin {
        font-style: normal;
        font-size: 35px;
        display: flex;
        align-items: flex-end;
        margin-bottom: 1rem;
    }

    .subtitleLogin {
        font-size: 18px;
        line-height: 20px;
        display: flex;
    }

    .text {
        margin-top: 0.8rem;
        color: blue;
        cursor: pointer;
        display: flex;
        align-items: center;
        font-size: 17px;
        text-align: center;
    }

    .logo {
        width: 80%;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 10px 0px 100px;

        img {
            display: flex;
            width: 200px;
            height: 200px;
            object-fit: cover;
        }
    }

    .title {
        color: var(--Dark-1);
        font-size: 20px;
        margin-bottom: 5rem;
    }
}